:root {
    --holberton-red: #e0354b;
}

.App-logo {
  height: 40vmin;
  max-width: 200px;
  max-height: 200px;
}

.App-header {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 3px solid var(--holberton-red);
}

